Resume-Screening-with-Machine-Learning-Job-Recommendations-Parsing-Categorization-main/Resume.csv filter=lfs diff=lfs merge=lfs -text
Resume-Screening-with-Machine-Learning-Job-Recommendations-Parsing-Categorization-main/jobs_dataset_with_features.csv filter=lfs diff=lfs merge=lfs -text
