.search-result {
  padding: 10px 20px;
  cursor: pointer;
}

.search-result:hover {
  background-color: #efefef;
}

.search-result {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.search-result:hover {
  transform: scale(1.02);
}

.search-result h3 {
  margin-bottom: 10px;
  color: #333;
}

.search-result p {
  margin-bottom: 10px;
  color: #666;
}